body {
    font-family: Arial, sans-serif;          
    background-color: #a49b9b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #0056b3, 0 0 10px rgba(0, 0, 0, 0.1);
}

form#calculadora {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

form#calculadora input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form#calculadora button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form#calculadora button:hover {
    background-color: #0056b3;
}